:root {
	--bord: 1px solid #777;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	width: 820px;
	background-color: #eee;
}

h1,
h2,
h3,
h4 {
	font-family: Roboto, helvetica, sans-serif;
	margin: 0;
	padding: 0.5rem;
	font-size: larger;
	font-weight: 700;
}

section {
	margin: 1rem 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	width: 800px;
	background-color: #eee;
}

p,
input,
label {
	margin: 0.25rem;
	padding: 0.5rem;
}

.sel::selection {
	background-color: #000;
	color: yellow;
}

.firstline::first-line {
	color: tomato;
}
.firstline::first-letter {
	color: navy;
	font-size: 2rem;
}
.before::before {
	content: "🎈 ";
}
.after::after {
	content: " 🌮";
}

ol {
	list-style: numeric;
	margin-left: 2rem;
}

.counter {
	counter-increment: paras;
}

.counter::before {
	content: "🔸" counter(paras) ":";
}

.counter {
	font-family: courier;
}

.mark-complete::before {
	font-size: 1rem;
	content: "✔️";
}
.col {
	border-top: var(--bord);
	border-left: var(--bord);
	padding: 10px;
}

.col:nth-child(even) {
	border-right: var(--bord);
}
.datatable {
	width: 200px;
	margin-top: 2rem;
}
.row {
	display: grid;
	grid-template-columns: 100px 100px;
	align-items: center;
	text-align: center;
}
.row:last-child {
	border-bottom: var(--bord);
	background-color: #bbb;
}
a:active,
a:link,
a:visited {
	color: navy;
}

a:hover {
	color: purple;
}
/* 
}













 */